@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.login-main {
    background-image: url(./assets/background-img-login.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-right: 10rem;
}

.login-container {

    display: flex;
    background-color: #F8F7F2;
    border: 1px solid rgba(0, 0, 0, 0.048);
    width: 665px;
    height: 850px;
    border-radius: 10px;
    box-shadow: 6px 7px 5px -2px rgba(0, 0, 0, 0.38);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-header-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
}

.img-logo {
    padding-top: 1rem;
    width: 630px;
    height: 180px;
}

.text-header-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.text1 {
    color: #687DAC;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Acme';
    line-height: 50px;

}

.text2 {
    color: #84A29F;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Acme';
    line-height: 50px;
}

.required {
    color: red;
  }

  


.container-form-login {
    display: flex;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    width: 100%;
    font-size: 38px;
    padding-top: 2rem;
}

.input-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 38px;
    line-height: 41px;
    gap: 25px;
}

.input-type {
    font-size: 25px;
    padding: 15px;
    width: 527px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.input-type::placeholder {
    font-size: 22px;
}

.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
}

.container-esqueceu-senha {
    width: 527px;
    justify-content: end;
    align-items: center;
    display: flex;
    height: 50px;

}

.esqueceu-senha-text {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 17px;
    cursor: pointer;
    font-size: 20px;

    &:hover {
        opacity: 0.5;
    }
}

.container-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-login {
    width: 527px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid;
    background-color: #84A29F;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F7F2;
    cursor: pointer;
    box-shadow: 13px 14px 8px -7px rgba(1, 54, 5, 0.151);

    &:hover {
        opacity: 0.8;
    }
}

.button-cadastro {
    width: 527px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid;
    background-color: #687DAC;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F7F2;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 13px 14px 8px -7px rgba(13, 1, 54, 0.151);

    &:hover {
        opacity: 0.8;
    }


}

@media (max-width: 1919px) {
    .login-main {
        max-width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0;
        padding-right: 10rem;
    }

    .login-container {
        width: 420px;
        height: 555px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-logo {
        padding-top: 1rem;
        width: 400px;
        height: 110px;
    }

    .container-form-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: 100vh;
    }

    .input-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 41px;
        gap: 3px;
    }

    .input-type {
        font-size: 16px;
        font-weight: 400;
        width: 350px;
        height: 44px;
        border-radius: 10px;
        border: 1px solid #000000;
    }

    .input-type::placeholder {
        font-size: 15px;
        font-display: flex;
        text-align: center;
        color: #0000008e;
    }

    .container-esqueceu-senha {
        width: 350px;

    }


    .esqueceu-senha-text {
        font-size: 13px;
    }


    .button-cadastro {
        height: 56px;
        width: 350px;
        font-size: 30px;
    }

    .input-error{
        border-color: red;
    }

    .button-login {
        height: 56px;
        width: 350px;
        font-size: 30px;
    }

    .password-container {
        position: relative;
    }

    .eye-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
    }


}

@media (max-width: 1219px) {
    .login-main {
        background-image: url(./assets/background-img-login-responsive.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 450px;
    }
}


@media (max-width: 767px) {

    .login-main {
        background-image: url(./assets/background-img-login-responsive.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        height: 100vh;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .input-type {
        width: 350px;
        font-size: 18px;
    }

    .container-esqueceu-senha {
        width: 350px;

    }

}

@media (max-width: 479px) {
    main {
        background-size: auto;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 340px;
    }

    .login-main {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        height: 100vh;
    }

    .input-type {
        width: 300px;
        font-size: 18px;
    }


    .container-esqueceu-senha {
        width: 300px;

    }

    .button-cadastro,
    .button-login {
        height: 56px;
        width: 300px;
        font-size: 30px;
    }




}