.professional-container {
  max-width: 1700px;
  margin: auto;
  padding: 80px;
}

.professional-title {
  padding-bottom: 60px;
}

.professional-title h2 {
  color: #687dac;
  font-size: 2rem;
  font-weight: bold;
}

.professional-title p {
  color: gray;
  font-size: 1rem;
  font-weight: bold;
}

.professional-table {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  border: 1px solid #dddddd;
  border-radius: 15px;
  box-shadow: 5px 5px 5px lightgray;
}
