.pacient-profile_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.pacient-profile_content {
  max-width: 50rem;
  width: 100%;
  background-color: #f8f7f2;
  padding: 1.875rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.pacient-profile_status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pacient-profile_status.confirmed {
  color: green;
}

.pacient-profile_status.pending {
  color: orange;
}

.pacient-profile_action {
  cursor: pointer;
}

.pacient-profile_prescription-icon {
  color: #5a6d97;
}

.pacient-profile_file-input {
  display: none;
}

.pacient-profile_actions_container {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.pacient-profile_tab_content {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .pacient-profile_container {
    padding: 4rem 1rem;
  }
}
