.search_professionals_container {
  gap: 4rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

.search-pacient-welcome_message {
  color: #687dac;
  font-weight: bold;
  font-size: 1.5rem;
}

.search-pacient-table_container {
  border-radius: 10px;
  background-color: #f8f7f2;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.search-pacient-filter {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding: 1rem;
  align-items: end;
}

.search-pacient-filter_group {
  display: flex;
  flex-direction: column;
}

.search-pacient-filter_group label {
  font-weight: bold;
  font-size: 16px;
}

.search-pacient-filter_group input,
.search-pacient-filter_group select {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  max-width: 100%;
  height: 32px;
}

.search-pacient-submit_button {
  background-color: #84a29f;
  color: #f8f7f2;
  padding: 10px;
  height: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-pacient-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.search-pacient-status.active {
  color: green;
}

.search-pacient-status.inactive {
  color: #f00;
}

.search-pacient-details {
  cursor: pointer;
}

@media (max-width: 1440px) {
  .search-pacient-filter {
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
  }

  .search-pacient-submit_button {
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .search_professionals_container {
    padding: 4rem 1rem;
    gap: 2rem;
  }
  .search-pacient-filter {
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
  }

  .search-pacient-submit_button {
    grid-column: span 3;
  }
}

@media (max-width: 428px) {
  .search-pacient-filter {
    grid-template-columns: repeat(1, 1fr);
  }

  .search-pacient-submit_button {
    grid-column: span 1;
  }
}
