.admin-home-container {
  margin: auto;
  padding: 80px;
  max-width: 1700px;
}

.admin-home-title {
  padding-bottom: 60px;
}

.admin-home-title h2 {
  color: #687dac;
  font-size: 2rem;
  font-weight: bold;
}

.admin-home-title p {
  color: gray;
  font-size: 1rem;
  font-weight: bold;
}

.admin-home-table {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: #f8f7f2;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
